body {
    background: #1C1C1C;
    color: #FFF;
    text-align: center;
    font-family: "Inter", sans-serif;
    margin: 0;
}

.container {
    max-width: 600px;
    padding: 10px 20px;
    margin: 0 auto;
}

h1 {
    margin-bottom: 5px;
}

.logo {
    max-width: 150px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form * {
    width: 100%;
    box-sizing: border-box;
    font-size: inherit;
}

.form label {
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
}

input, select {
    margin-bottom: 10px;
}

input, select {
    padding: 10px 20px;
    border-radius: 5px;
    border: 0;
    text-align: center;
}

.add-btn {
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    background: #a7c957;
    font-family: inherit;
    font-weight: bold;
    margin: 10px 0 0;
}

ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

li {
    position: relative;
    background: #FFF;
    border-radius: 5px;
    padding: 7px;
    border: 0;
    color: #1C1C1C;
    flex-grow: 1;
    min-width: fit-content;
    cursor: pointer;
}

.info {
    display: flex;
    gap: 5px;
    margin-bottom: 2px;
}

.name, .shop {
    padding: 5px;
    font-size: 0.7em;
    border-radius: 5px;
}

.Aakash {
    background: #a0c4ff;
}

.Pruthuvi {
    background: #ffc6ff;
}

.Eraisha {
    background: #bdb2ff;
}

.Adrian {
    background: #fdffb6;
}

.Other {
    background: #d4a373;
}

.Aldi {
    background: #a9def9;
}

.HomeBargains {
    background: #f08080;
}

.Sainsburys {
    background: #fbc4ab;
}

.Morrisons {
    background: #cdeac0;
}

.Lidl {
    background: #809bce;
}

.Any {
    background: #1C1C1C;
    color: #FFF;
}

footer a {
    color: #FFF;
}